            /* ******common****** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

            /* ******header****** */

header {
    width: 100%;
    height: 90px;
    background-color: rgb(190, 121, 255);
} 
